<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="footer-info">
                        <h2>NutriDelights</h2>
                        <div class="social-links mt-3">
                        <a href="#"> <i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 footer-links">
                    <h5>Useful Links</h5>
                    <ul>
                        <li> <a href="#hero">Home</a></li>
                        <li> <a href="#about">About us</a></li>
                        <li> <a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>